// Font Exmaple
// @font-face {
//   font-family: AlumniSansPinstripe;
//   src: url('../../fonts/alumni-sans-pinstripe.ttf');
// }

html,
body,
canvas {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
body {
  background-color: #3498db;
}

// Font Exmaple
// div#font-loader {
//   font-family: AlumniSansPinstripe;
//   position: absolute;
//   left: -1000px;
//   visibility: hidden;
// }
