[Desktop Entry]

# The type as listed above
Type=Application

# The version of the desktop entry specification to which this file complies
Version=1.0

# The name of the application
Name=Run After SteamOS Update

# A comment which can/will be used as a tooltip
Comment=Run after SteamOS Update to 

# The path to the folder in which the executable is run
Path=

# The executable of the application, possibly with arguments.
Exec=konsole --hold -e "$HOME/.custom/steamos/steamos-install.sh"
