<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta http-equiv="cleartype" content="on">
</head>
<body>
    <div class="font-loader geo">.</div>
    <div class="font-loader alumni">.</div>
    <div class="font-loader teko">.</div>
    <div class="font-loader germania">.</div>
    <div class="font-loader roboto">.</div>
    <div id="game"></div>
</body>
</html>
